{/* PROJECTS PAGE CSS */}

.projects{
  margin-left: 10%;
}

.oneProjectTopPage{
  height: 18vh;
}

.oneProjectBottomPage{
  height: 14vh;
}

.oneProjectContainer{
  display: flex;
  flex-flow: row;
  width: 57%;
}

.oneProject{
  margin-top:10%;
  margin-bottom: 5%;
}

.oneProject img{
  width: 100%;
}

.oneProject ul{
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: left;
  width: 100%;
  margin-top: 1%;
}

.oneProject a{
  text-decoration: none;
  color: black;
}

.oneProject li{
  margin-top: 2%;
}


{/* RESPONSIVENESS */}
