{/* PROJECTS PAGE CSS */}

.projectsFadeIn{
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.oneProjectTopPage{
  height: 14vh;
}

.oneProjectBottomPage{
  height: 9vh;
}

.projectTitle{
  display: flex;
  flex-direction: row;
  margin-top:5%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.projectTitle h5{
  padding : 1%;
  letter-spacing: 0.1rem;
}

.projects{
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  flex-wrap: wrap;
}


{/* ONE PROJECTS PAGE CSS */}


.oneProjectLink{
  width: 30%;
  margin: 1.5%;
  margin-bottom: 4%;
  justify-content: center;
}

.oneProject{
  display: flex;
  flex-flow: column;
  align-items: left;
  margin: 0;
}

.oneProjectText{
  justify-self: flex-end;
}

.oneProject img{
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.oneProjectImage{
  position:relative;
  padding:0;
  width:100%;
  display:block;
  cursor:pointer;
  overflow:hidden;
}

.content {
  opacity:0;
  font-size: 20px;
  position:absolute;
  top:0;
  left:0;
  background-color:rgba(255, 255, 255, 0.7);
  width:100%;
  height:300px;
  text-align:center;
}
  
.oneProjectImage .content:hover { 
  opacity:1; 
  transition-duration: 0.6s;
}      
  
.oneProjectImage .content .oneProjImgHover2 {
  height:1;
  opacity:1;
}

.oneProjectImage .content:hover .oneProjImgHover2 {
  opacity:1;
}

.oneProject p{
  margin-top: 2%;
  color: black;
}

a{
  text-decoration: none;
}


{/* RESPONSIVENESS */}


@media screen and (max-width: 575px){

  .projects{
    flex-direction: column;
  }

  .oneProjectLink{
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6% ;
  }

}


{/* FULL PROJECT PAGE CSS */}

.oneProjectTopPage{
  height: 18vh;
}


.oneFullProjectContainer{
  margin: 0;
  display: flex;
  flex-direction: column;
}

.oneFullProjectImage1{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  z-index: 0;
}

.oneFullProjectLongDescription{
    background-color: #191919;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    z-index: 0;
    justify-content: center;
}

.oneFullProjectText{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  color: white;
  font-size: 1.2em;
}

.oneFullProjectDash {
  width: 5%;
  margin-top: 2%;
  border-bottom: solid white 2.5px;
  align-self: center;
}

.oneFullProjectImage2{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  z-index: 0;
}

.oneFullProjectImage3{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  z-index: 0;
}

.oneFullProjectImage4{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  z-index: 0;
}

.bottomOneFullPageContainer{
  display: flex;
  flex-direction: row;
}

.imageContainer{
  width:  100%;
  height: 100%;
}

.oneFullProjectImage5{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  z-index: 0;
}


.upArrow{
  justify-content: flex-end;
  margin-left: auto;
  align-self: flex-end;
  z-index: 1;
  position: absolute;
  bottom: 10%;
  right: 1%;
}

.upArrowStyle{
  width: 45%;
}



{/* RESPONSIVENESS */}
