{/* HOME PAGE */}


.home1{
    background-image: url("../images/homepage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    z-index: 0;
}

.homeText1{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 5%;
    margin-left: 4%;
    margin-right: 4%;
    width: 100%;
    height: 25%;
}

.homeContainerLeft1{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.homeTitle1{
    font-size: 1.6em;
}

.homeP1{
    margin-top: 2%;
}

.homeContainerRight1{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.homeButton1{
    height:10%;
    width: 100%;
    align-self: center;
}


.home2{
    background-image: url("../images/homePalm.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    z-index: 0;
}

.homeText2{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 5%;
    margin-left: 4%;
    margin-right: 4%;
    width: 100%;
    height: 25%;
}

.homeContainerLeft2{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.homeTitle2{
    font-size: 1.6em;
}

.homeP2{
    margin-top: 2%;
}

.homeContainerRight2{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.homeButton2{
    height:10%;
    width: 100%;
    align-self: center;
}



.home3{
    background-image: url("../images/homeVinyl.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    z-index: 0;
}

.homeText3{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 5%;
    margin-left: 4%;
    margin-right: 4%;
    width: 100%;
    height: 25%;
}

.homeContainerLeft3{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.homeTitle3{
    font-size: 1.6em;
}

.homeP3{
    margin-top: 2%;
}

.homeContainerRight3{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.homeButton3{
    height:10%;
    width: 100%;
    align-self: center;
}



.home4{
    background-image: url("../images/homeHand.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    z-index: 0;
}

.homeText4{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 5%;
    margin-left: 4%;
    margin-right: 4%;
    width: 100%;
    height: 25%;
}

.homeContainerLeft4{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.homeContainerRight4{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.homeButton4{
    height:10%;
    width: 100%;
    align-self: center;
}