{/* HOME PAGE */}


.home{
    background-image: url("../images/homepage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    position: relative;
    z-index: 0;
}

.home--inside-scroller {
    position: absolute;
    right: 20px;
    top: 100px;
}

.homeText1{
    margin-top: 34%;
    margin-left: 4%;
    margin-right: 65%;
    margin-bottom: 5%;
}

.homeTitle{
    font-size: 1.6em;
}

.homeP1{
    margin-top: 2%;
}



.home2{
    background-image: url("../images/homePalm.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.homeText2{
    margin-top: 38%;
    margin-left: 4%;
    margin-right: 65%;
    margin-bottom: 5%;
}

.homeTitle2{
    color: white;
    font-size: 1.2em;
}

.homeP2{
    margin-top: 2%;
    color: white;
}



.home3{
    background-image: url("../images/homeVinyl.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.homeText3{
    margin-top: 40%;
    margin-left: 4%;
    margin-right: 65%;
    margin-bottom: 5%;
}

.homeTitle3{
    font-size: 1.2em;
}

.homeP3{
    margin-top: 2%;
}



.home4{
    background-image: url("../images/homeHand.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
}