{/* CONTACT PAGE */}

.contact{
    margin-left: 10%;
}

.contactProject{
  margin-top:15%;
  margin-bottom: 2%;
}

.contactProjectText{
  margin-left: 3%;
  margin-right: 45%;
}

.contactProjectText a{
  text-decoration: none;
  color: black;
  font-weight: 350;
}

.contactDiscover{
  margin-top:8%;
  margin-bottom: 2%;
}

.contactDiscoverText{
  margin-left: 3%;
  margin-right: 45%;
}

.contactDiscoverText a{
  text-decoration: none;
  color: black;
  font-weight: 350;
}

.contactFormTitle{
  margin-top:8%;
  margin-bottom: 2%;
}

.contactForm{
  margin-left: 3%;
  margin-right: 45%;
  display: flex;
  flex-direction: column;
}

.formBoxDiv{
  border-style: solid;
  border-color: #707070;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 2%;
  margin-bottom:2%;
} 

.formBox{
  border: none;
  width: 100%;
  height: 2em;
}

.formBoxMessage{
  font-family: 'Basis+Grotesque+Pro', sans-serif ;
  border: none;
  width: 100%;
  height: 2em;
}

.formButtonBox{
  display: flex;
  justify-content: flex-end;
}

.formButton{
  border : none;
  background-color: white;
  font-size: large;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  width: 15%;
}

.contactAnything{
  margin-top:8%;
  margin-bottom: 2%;
}

.contactSlowStudio{
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 20%;
  margin-bottom: 2%;
}

.contactSlowStudioText{
  width: 45%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.contactSlowStudioText a{
  text-decoration: none;
  color: black;
}

.funnySlow{
  width:55%;
}

.funnySlow img{
  width: 70%;
}


{/* RESPONSIVENESS */}

@media screen and (max-width: 575px){

    .contactSlowStudio{
      flex-direction: column;
    }
  
    .funnySlow{
      margin-top: 14%;
      margin-bottom:8%;
    }
  
  }