{/* PERSONAL DATA PAGE CSS */}

.personalData{
    margin-left: 10%;
}
  
.personalDataTitle{
    margin-top:15%;
    margin-bottom: 1%;
    margin-right: 25%;
}
  
.personalDataParagraphTitle{
    margin-top:10%;
    margin-bottom: 1%;
    margin-right: 25%;
}

.personalDataParagraphSubTitle{
    margin-top:7%;
    margin-bottom: 1%;
}

.personalDataParagraphSubSubTitle{
    margin-top:3%;
    margin-bottom: 1%;
}
  
.personalDataText{
    margin-top:2%;
    margin-left: 3%;
    margin-right: 45%;
    text-align: justify;
}

.personalDataTextContact{
    margin-top:2%;
    margin-left: 3%;
    margin-right: 6%;
    text-align: justify;
    display: flex;
    flex-direction: row;
    margin-top: auto;
}

.personalDataTextContactList{
    margin-bottom: 10%;
}

.personalData ul{
    margin-left: 5%;
}

.personalData li{
    margin-top: 2%;
}

.personalDataTextContactList{
    margin-bottom: 10%;
}

.contactLeftContainer{
    display: flex;
    flex-direction: column;
}

.contactRightContainer{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    align-self: center;
}

.upArrowBlackStyle{
    width: 45%;
}


{/* RESPONSIVENESS */}

@media screen and (max-width: 768px){

    .personalDataTitle{
        margin-top:30%;
        
    }
}