{/* LOGOPROJECTS CSS */}

.navbarLogo li:hover{
  opacity: 0.75;
}

.navbarLogo{
  display: flex;
  align-self: center;
}

.navbarLogoImg{
  width:70%;
  display: flex;
  justify-self: flex-start;
  align-self: center;
}

{/* LOGOPROJECTS CSS */}

.navbarProjects{
    font-size: 0.95rem;
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 1.5%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
  }
  
  .navbarProjects ul{
    list-style: none;
    display: flex;
    align-items: center;
 
  }
  
  .navbarProjectsLogo img:hover{
    opacity: 0.75;
  }
  
  .navbar a{
    text-decoration: none;
    color: black;
  }
  
  .navbarProjectsLogo{
    align-self: center;
  }
  
  .navbarProjectsLogoImg{
    width:70%;
    justify-self: flex-start;
    align-self: center;
  }
  
  .navbarProjectsList{
    display: flex;
    justify-content: flex-end;
    margin-right: 7%;
    margin-left: auto;
  }
  
  .navbarProjectList li{
    margin-bottom: 0;
  }
  
  
  {/* NAVBAR RESPONSIVENESS */}
  
  
  @media screen and (max-width: 769px){
  
    .navbarProjectsList{
      display: none;
    }

    .navbarLogo{
      padding-top: 1.5rem;
    }
  
  }

  