{/* GENERAL CSS */}

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Basis+Grotesque+Pro', sans-serif ;
  font-weight: 300;
  text-decoration: none;
}


.appDiv{
  display: flex;
  flex-direction: column;
  position: relative;
}



{/* COPYRIGHT PAGE */}
.copyright{
  margin-top:17%;
  margin-bottom:17%;
  text-align: center;
}




{/* RESPONSIVENESS */}



